apiVersion: v1
kind: Secret
metadata:
    name: certificates
    namespace: simple
stringData:
    server.crt: MISSING
    server.key: |
        -----BEGIN PRIVATE KEY-----
        base64 encoded data
        base64 encoded data
        -----END PRIVATE KEY-----
